[submodule "libraries/telegram-api"]
	path = libraries/telegram-api
	url = https://github.com/tinfinite/telegram-api.git
[submodule "libraries/mtproto"]
	path = libraries/mtproto
	url = https://github.com/tinfinite/telegram-mt.git
[submodule "libraries/tl-core"]
	path = libraries/tl-core
	url = https://github.com/tinfinite/telegram-tl-core.git
